
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

pm2 logs

meta_verify_token=saifansari123
permanent_token=EAAVtQZAxGhyMBSPVpSGhICZAIXcKpdUUipvfWgvgzKJmssD16lLgslWa7ZBp0KuxnLlE9CED4TGhZCzXvzJjFuQvwZAXwcRJtP9IDbHGN0yuQJZBMKmc9b4l49buYZCkMdIZCXoYtzHeJxOwCs7zZBbZAeYRvFbkYSZARv6NFIdihGMLTFETXbHmQC0oggI94m1Pcz3JAZDZD

SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

ENCRYPTION_KEY=your-64-char-hex-key-here


META_APP_SECRET=your-meta-app-secret

NEXT_PUBLIC_SITE_URL=https://crm.example.com

# Default language locale (e.g. en)
NEXT_PUBLIC_APP_LOCALE=en

